/* DrawingTools.css */
.drawing-tools {
    display: flex;
    justify-content: center;
}

.color-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.color-option {
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}
